.newTask{
    margin-top: 10px;
}
.newTask input{
    padding: 10px;
    background: #636363;
    color: #fff;
    font-size: 17px;
}
.newTask button{
    font-size: 25px;
    background: #636363;
    color: #fff;
    margin-left: 10px;
    padding: 5px 10px;
}